<div class="container">
    <div class="form-wrapper">        
        <div class="input-wrapper">
            <input type="text" [formControl]="userNameFormControl" (keydown.enter)="onSubmit()"  placeholder="User Name..">
            <div *ngIf="userNameFormControl.touched && userNameFormControl.errors" class="error-message">username is required</div>
        </div>
        
    </div>
    <div class="button-wrapper">
        <button class="btn" type="button" (click)="onSubmit()">Submit</button>
    </div>
</div>