<div class="container search-wrapper">
    <h1 class="title">Search Page</h1>
  <input type="text" [formControl]="searchFormControl" placeholder="Enter book name.."/>

  <div class="books-wrapper">
    <div *ngFor="let book of (searchResult$ | async)?.items | slice:0:20;" class="book-item">
      <app-book [book]="book" [saved]="savesBooksMap[book.id]" (onBookClick)="onBookClick($event)" (toggleSaveStatus)="toggleSaveStatus($event)"></app-book>
    </div>
  </div>

  <!--DIALOG-->
  <div *ngIf="currentBook" class="dialog-wrapper">
      <app-book-info [book]="currentBook" (dismissDialog)="dismissDialog()"></app-book-info>
  </div>
</div>


