.card {
    width: 30vh;
    height: 500px;
    padding: 1vh;
    display: flex;
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    img{
        width: 250px;
        height: 250px;
    }
}

.container {
    padding: 2px 16px;
}

p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding: 14px 28px;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: #000;
    box-shadow: 0px 0px 0 #333;
    border: 2px solid transparent;
    transition: all 0.2s ease-in;

    &:hover{
        color: #000;
        background-color: #fff;
        border: 2px solid #000;
    }
  }